{% load static %}
<!--
<h3>
    Hello World
</h3>
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easton Archer</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100 border-info" id="profile-wrapper">
                    <img id="profile-pic" src="{%static 'images/user.png' %}">
                    <hr>
                    <h4>Hi I'm Easton</h4>
                    <p>I enjoy coding, doing research, and collaborating with others</p>
                </div>
            </div>
            <div class="col-md-9 ">
                <div class="card card-body h-100 border-info">
                    <h4> Who am I</h4>
                        <hr>
                        <p>I am currently a senior at Texas Tech University pursuing a 
                            bachelor's degree in computer science through the Edward E.
                             Whitacre Jr. College of Engineering with a minor in mathematics 
                             through the Department of Mathematics and Statistics, with an 
                             expected graduation date of August 2024.</p>

                        <p>I believe that I am a great fit for any company. I have always 
                            worked great with different types of people from diverse backgrounds, 
                            excelled in various fast-paced work environments, and am a very 
                            adaptable individual with a strong engineering mindset</p>

                        <p>I am currently seeking an internship to expand my learning. I'm 
                            eager to apply my skills in a practical setting with my adaptability
                            and enthusiasm to contribute effectively to any team.</p>

                            <ul class="social-links">
                                <li><a href="https://www.linkedin.com/in/easton-archer/" target="_blank"><img class="social" src="{% static 'images/linkedin.png' %}"></a></li>
                                <li><a href="https://github.com/EastonArcher" target="_blank"><img class="social" src="{% static 'images/github.png' %}"></a></li>
                                <li><a href="https://www.instagram.com/easton.archer/?next=%2Fricci_samuele_28%2F" target="_blank"><img class="social" src="{% static 'images/instagram.png' %}"></a></li>
                            </ul>
                            
                        
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>Education</h5>
                    <hr>
                    <p>I am currently pursuing a Bachelor's degree in <b>Computer Science</b> with a minor in mathematics at Texas
                        Tech University in Lubbock, Texas with an expected graduation date of August 2024 and a GPA of 3.66</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>What I Know</h5>
                    <hr>
                    <p><b>Programming Languages</b> - Python, JavaScript, Java, C, C++, x86 Assembly, Verilog</p>
                    <p><b>Web & Database</b> - HTML, CSS, MySQ, SQL Server (SSMS)</p>
                    <p><b>Frameworks</b> - ReactJS, Bootstrap, React Native, Django</p>
                    <p><b>Tech</b> - Git, Docker, Unix, Visual Studio, VSCode, MS Office, Eclipse
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>Personal Projects</h5>
                    <hr>
                    <p><b>JavaScript Frameworks</b> - Built a to-do app using Vanilla JavaScript, React, and Angular to showcase 
                        proficiency in three different frameworks.</p>
                    <p><b>Personal Website</b> - Built a personal website using HTML, CSS, Django, and Bootstrap. This project 
                        showcases the integration of Django for backend functionality and Bootstrap for 
                        styling.</p>
                    <p><b>Python Automation</b> - Repository of multiple automation projects: PDFMerger, for automated PDF merging.
                        PhotoEditor automatically styles and edits images. Lastly, YouTubeVideoDownloader to simplify downloading videos</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>Relevant Coursework</h5>
                    <hr>
                    <p><b>Year One</b> - Data Science, Discrete Computational Structures </p>
                    <p><b>Year Two</b> - Modern Digital System Design, Programming Principles of C, Data Structures</p>
                    <p><b>Year Three</b> - Computer Organization and Assembly Language Programming, Theory of Automata, Computer Architecture, 
                        Concepts of Programming Languages, Design and Analysis of Algorithms, Object Oriented Programming</p>    
                    <p><b>Year Four</b> - Wireless Networks and Mobile Computing, Operating Systems, Software Engineering, Concepts of Database 
                        Systems, Intro to A.I, Web Programming</p>        
                </div>
            </div>
            <br>
        </div>

    </div>


</body>
</html>
